<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xftxyz.elm.mapper.FoodMapper">

    <resultMap id="BaseResultMap" type="com.xftxyz.elm.domain.Food">
            <id property="foodid" column="foodId" jdbcType="INTEGER"/>
            <result property="foodname" column="foodName" jdbcType="VARCHAR"/>
            <result property="foodexplain" column="foodExplain" jdbcType="VARCHAR"/>
            <result property="foodimg" column="foodImg" jdbcType="VARCHAR"/>
            <result property="foodprice" column="foodPrice" jdbcType="DECIMAL"/>
            <result property="businessid" column="businessId" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        foodId,foodName,foodExplain,
        foodImg,foodPrice,businessId,
        remarks
    </sql>
    <select id="selectAllByBusinessid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from food
        where
        businessId = #{businessid,jdbcType=NUMERIC}
    </select>
    <select id="selectFoodpriceByFoodid" resultMap="BaseResultMap">
        select foodPrice
        from food
        where foodId = #{foodid,jdbcType=NUMERIC}
    </select>
</mapper>
